<header class="navbar" [class.scrolled]="isScrolled">
  <div class="logo">
    <img [src]="imageService.getImageUrl(1)" alt="Logo" class="logo-img" />
    Wander With KI
  </div>

  <nav class="nav-links">
    <ng-container *ngIf="isAdmin; else normalLinks">
      <!-- Admin Links -->
      <a routerLink="/admin/home" routerLinkActive="active">Home</a>
      <a routerLink="/admin/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/admin/adventure" routerLinkActive="active">Adventure</a>
      <a routerLink="/admin/food" routerLinkActive="active">Food</a>
      <a routerLink="/admin/destinations" routerLinkActive="active"
        >Destinations</a
      >
    </ng-container>

    <ng-template #normalLinks>
      <!-- User Links -->
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/adventure" routerLinkActive="active">Adventure</a>
      <a routerLink="/food" routerLinkActive="active">Food</a>
      <a routerLink="/destinations" routerLinkActive="active">Destinations</a>
    </ng-template>

    <div class="auth-wrapper">
      <button *ngIf="!isLoggedIn" (click)="openLogin()" class="subscribe">
        Subscribe
      </button>

      <div *ngIf="isLoggedIn" class="user-menu">
        <i class="material-icons">{{
          isAdmin ? "manage_accounts" : "account_circle"
        }}</i>
        {{ username }}
      </div>
    </div>

    <!-- Show Settings for normal users -->
    <div
      class="dropdown"
      *ngIf="authService.isLoggedIn() && !authService.isAdmin()"
    >
      <button (click)="openSettings()">
        <i class="material-icons">settings</i>
      </button>
    </div>

    <!-- Show Logout for admin -->
    <div
      class="dropdown"
      *ngIf="authService.isLoggedIn() && authService.isAdmin()"
    >
      <button (click)="logout()">
        <i class="material-icons">logout</i>
      </button>
    </div>
  </nav>
</header>
