<div class="modal-container">
  <div class="modal">
    <div class="form-wrapper">
      <div class="form-card login-card" [class.active]="showLogin">
        <i class="bi bi-x close" (click)="router.navigateByUrl(returnUrl)"></i>
        <h3>Login</h3>
        <form (ngSubmit)="login()">
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="loginData.username"
            name="username"
            required
          />
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="loginData.password"
            name="password"
            required
          />
          <button type="submit">Login</button>
        </form>
        <p>
          Don’t have an account?
          <span class="link" (click)="switchForm()">Sign Up</span>
        </p>
      </div>

      <div class="form-card signup-card" [class.active]="!showLogin">
        <i class="bi bi-x close" (click)="router.navigateByUrl(returnUrl)"></i>
        <h3>Sign Up</h3>
        <form (ngSubmit)="signUp()">
          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="signUpData.username"
            name="username"
            required
          />
          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="signUpData.email"
            name="email"
            required
          />
          <input
            type="password"
            placeholder="Password"
            [(ngModel)]="signUpData.password"
            name="password"
            required
          />
          <button type="submit">Sign Up</button>
        </form>
        <p>
          Already have an account?
          <span class="link" (click)="switchForm()">Login</span>
        </p>
      </div>
    </div>
  </div>
</div>
