<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img [src]="imageService.getImageUrl(1)" alt="Logo" class="logo-img" />
    </div>

    <div class="footer-bottom">© 2025 Wander With KI. All rights reserved.</div>
    <div class="social-icons">
      <a target="_blank" aria-label="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a target="_blank" aria-label="Facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <a target="_blank" aria-label="Twitter">
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>
  </div>
</footer>
